@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body{
        background-color: #F2E9E4; /* Fondo Arena Beige */
}
/* Reset SOLO aplicado al navbar */
.navbar-wrapper * {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

img{
    width: 100%;
    object-fit: cover;
}
/* Contenedor */
.contenedor{
    background-color: #F2E9E4; /* Fondo Arena Beige */
    padding-bottom: 40px;    
}
.presentacion--imagen img {
  width: 1200px;
  max-width: 100%;
  height: auto;
  margin-top: 100px; /* 👈 controla la distancia desde el navbar */
}
/* ---------------- NAVBAR ---------------- */
.nav-bar {
  background-color: rgba(0, 78, 124, 0.85); /* Azul Marino con opacidad */
  height: 70px;           
  display: flex;   
  
  align-items: center;    
  padding: 0 20px;        
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;        /* Para que siempre quede arriba */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;          /* Encima del resto */
}
/* Header -Menu */
.header {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    font-weight: 900;
    font-size: 20px;
    color: #ff1f58;
}
.logo span {
    color: #FFFFFF;
}
.hamburguesa{
    width: 30px;
}
@media (min-width:768px) {
    .hamburguesa{
        display: none;
    }
}
.hamburguesa:hover{
    cursor: pointer;
}
/* Navegacion */
/* Menú */
.menu {
    display: none;
}
@media (min-width:768px) {
    .menu {
        display: flex;
    }
}
.navegacion {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
@media (min-width:768px) {
    .navegacion {
        gap: 30px;
    }
}
@media (min-width:992px) {
    .navegacion {
        gap: 50px;
    }
}

.navegacion a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    transition: color 0.3s ease;
}
.navegacion a:hover {
    color: #00A6A6;
}

.navegacion li:last-child {
    display: flex;
    align-items: center;
    gap: 15px;
}
.navegacion li:last-child a {
   font-weight: 700; 
}
.navegacion li:last-child a:last-child {
    background-color: #6ED3CF;
    color: #004E7C;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #6ED3CF;
    transition: all 0.3s ease;
}
.navegacion li:last-child a:last-child:hover {
    background-color: #004E7C;
    color: #F2E9E4;
}

/* Información Banner */
.presentacion{
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media (min-width:768px) {
    .presentacion{
        flex-direction: row;
    }
}
/* Información */
.informacion{
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width:768px) {
    .informacion{
        text-align: start;
        align-items: flex-start;
    }
}
.informacion--boton button{
    padding: 10px;
    background-color: #6ED3CF; /* Verde Agua */
    border: 1px solid #6ED3CF;
    color: #004E7C;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
}
.informacion--boton button:hover{
    background-color: #004E7C;
    color: #F2E9E4;
    cursor: pointer;
}
/* Información imagen */
.presentacion--imagen{
    max-width: 300px;
    filter: drop-shadow(0 1mm 3mm rgba(0,166,166,0.4)); /* Turquesa */
}
@media (min-width:456px) {
    .presentacion--imagen{
        max-width: 500px;
    }
}
@media (min-width:1024px) {
    .presentacion--imagen{
        max-width: 800px;
    }
}
/* Seccion platos */
.comida{
    width: 90%;
    margin-inline:auto;
}
.platos{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 85px;
}
@media (min-width:768px) {
    .platos{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:992px) {
    .platos{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.comida--titulo{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 85px;
    color: #004E7C; /* Azul Marino */
}
@media (min-width:768px) {
    .comida--titulo{
        text-align: start;
    }
}
/* Contenedor de tarjetas */
.plato{
    width: 80%;
    margin-inline:auto;
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(0,78,124,0.2);
}
.plato img{
    width: 150px;
    filter: drop-shadow(0 0 0.9rem #00A6A6); /* Turquesa */
    margin-top: -85px;
    border-radius: 30%;
}
.plato p{
    font-size: 15px;
    color: #004E7C; /* Azul Marino */
}
.plato--info{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}
.plato--info p{
    font-weight: 900;
    color: #004E7C; /* Azul Marino */
}
.plato--info button{
    background-color: #6ED3CF; /* Verde Agua */
    color: #004E7C;
    font-weight: 900;
    padding: 5px 12px;
    border-radius: 50%;
    font-size: 25px;
    border: 1px solid #6ED3CF;
}
.plato--info button:hover{
    background-color: #004E7C;
    color: #F2E9E4;
    cursor: pointer;
}
